<div class="flex justify-between text-center">
  <div>
    <div class="color-highlight size-h3">{{ .JSON.Int "MovieCount" | formatNumber }}</div>
    <div class="size-h6">MOVIES</div>
  </div>
  <div>
    <div class="color-highlight size-h3">{{ .JSON.Int "SeriesCount" | formatNumber }}</div>
    <div class="size-h6">SHOWS</div>
  </div>
  <div>
    <div class="color-highlight size-h3">{{ .JSON.Int "EpisodeCount" | formatNumber }}</div>
    <div class="size-h6">EPISODES</div>
  </div>
  <div>
    <div class="color-highlight size-h3">{{ .JSON.Int "SongCount" | formatNumber }}</div>
    <div class="size-h6">SONGS</div>
  </div>
</div>
