<div class="list list-gap-10">
  <div class="flex justify-between">
    <span class="color-subdue">Server</span>
    <span>{{ .JSON.String "ServerName" }}</span>
  </div>
  <div class="flex justify-between">
    <span class="color-subdue">Version</span>
    <span>{{ .JSON.String "Version" }}</span>
  </div>
  <div class="flex justify-between">
    <span class="color-subdue">Setup</span>
    <span>{{ if .JSON.Bool "StartupWizardCompleted" }}complete{{ else }}pending{{ end }}</span>
  </div>
</div>
