<ul class="list list-gap-10 collapsible-container" data-collapse-after="5">
  {{ range .JSON.Array "" }}
    <li>
      <a class="size-title-dynamic color-primary-if-not-visited" href="{{ .String "url" }}" target="_blank" rel="noreferrer">{{ .String "title" }}</a>
      <ul class="list-horizontal-text">
        <li>{{ .String "provider_name" }}</li>
        {{ if .String "description" }}
          <li class="text-truncate">{{ .String "description" }}</li>
        {{ end }}
      </ul>
    </li>
  {{ end }}
</ul>
