<div class="flex justify-between text-center margin-bottom-10">
  <div>
    <div class="color-highlight size-h3">{{ .JSON.String "version" }}</div>
    <div class="size-h6">VERSION</div>
  </div>
  <div>
    <div class="color-highlight size-h3">{{ .JSON.Int "usage.users.active_month" }}</div>
    <div class="size-h6">ACTIVE/MO</div>
  </div>
  <div>
    <div class="color-highlight size-h3">{{ if .JSON.Bool "registrations.enabled" }}OPEN{{ else }}CLOSED{{ end }}</div>
    <div class="size-h6">SIGNUPS</div>
  </div>
</div>
<div class="color-subdue text-truncate">{{ .JSON.String "title" }} - {{ .JSON.String "domain" }}</div>
